/cache/
/tools/*/vendor/
/clover.xml
/docker-compose.override.yml
/.php-cs-fixer.cache
/resultCache.php

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/.phpunit.cache/
/phpunit.xml
###< phpunit/phpunit ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
