<?php

$header = <<<EOF
(c) Rob Bast <rob.bast@gmail.com>

For the full copyright and license information, please view
the LICENSE file that was distributed with this source code.
EOF;

$finder = new PhpCsFixer\Finder();
$config = new PhpCsFixer\Config('paste.robbast.nl', 'paste.robbast.nl style guide');

$finder
    ->exclude('cfg')
    ->exclude('var')
    ->in(__DIR__)
;

/* Based on ^2.0 of php-cs-fixer */
$config
    ->setRules([
        // default
        '@PSR2' => true,
        '@Symfony' => true,
        // additionally
        'array_syntax' => ['syntax' => 'short'],
        'blank_line_after_opening_tag' => false,
        'concat_space' => ['spacing' => 'one'],
        'declare_strict_types' => true,
        'header_comment' => ['header' => $header],
        'no_unused_imports' => false,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'ordered_imports' => true,
        'phpdoc_align' => false,
        'phpdoc_order' => true,
        'phpdoc_summary' => false,
        'simplified_null_return' => false,
    ])
    ->setFinder($finder)
;

return $config;
