<?php declare(strict_types=1);

$header = <<<EOF
(c) Rob Bast <rob.bast@gmail.com>

For the full copyright and license information, please view
the LICENSE file that was distributed with this source code.
EOF;

$finder = new PhpCsFixer\Finder();
$config = new PhpCsFixer\Config('paste.robbast.nl');

$finder
    ->in(__DIR__)
    ->exclude(['var', 'docker', 'vendor'])
    ->append([
        'bin/console',
        '.php_cs.dist',
    ])
;

$config
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        '@PHP70Migration:risky' => true,
        'array_syntax' => ['syntax' => 'short'],
        'blank_line_after_opening_tag' => false,
        'concat_space' => ['spacing' => 'one'],
        'method_argument_space' => ['ensure_fully_multiline' => true],
        'no_useless_else' => true,
        'ordered_imports' => ['sortAlgorithm' => 'alpha'],
        'phpdoc_align' => false,
        'phpdoc_order' => true,
        'phpdoc_summary' => false,
    ])
    ->setFinder($finder)
;

return $config;
