language: php

branches:
  only:
    - master

cache:
  directories:
    - "$HOME/.composer/cache/files"
    - "$HOME/.php-cs-fixer"

branches:
  only:
    - master

git:
  depth: 10

sudo: false

php:
  - 7.0
  - 7.1
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

install:
  - composer install --no-interaction --no-progress --prefer-dist --optimize-autoloader

before_script:
  - mkdir -p "$HOME/.php-cs-fixer"

script:
  - vendor/bin/phpunit
  - vendor/bin/php-cs-fixer fix --allow-risky true --cache-file "$HOME/.php-cs-fixer/.php_cs.cache" --dry-run --diff --verbose
