extends: default
    rules:
        line-length:
            max: 120
            allow-non-breakable-words: true
        braces:
            min-spaces-inside: 0
            max-spaces-inside: 1
            min-spaces-inside-empty: 0
            max-spaces-inside-empty: 0
        brackets:
            min-spaces-inside: 0
            max-spaces-inside: 1
            min-spaces-inside-empty: 0
            max-spaces-inside-empty: 0
        truthy:
            check-keys: false
