includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-symfony/rules.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:

  reportUnmatchedIgnoredErrors: true
  inferPrivatePropertyTypeFromConstructor: true

  excludes_analyse:
    - config/bootstrap.php

  ignoreErrors:
    - message: '{^Class Paste\\Security\\HashGenerator constructor invoked with 0 parameters, 1 required.$}'
      path: tests/unit/Security/HashGeneratorTest.php
