parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$code of method Paste\\\\Repository\\\\PasteRepository\\:\\:find\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Console/Command/DeleteCommand.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: src/Console/Command/DeleteCommand.php

		-
			message: "#^Parameter \\#1 \\$code of method Paste\\\\Repository\\\\PasteRepository\\:\\:find\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Console/Command/ReadCommand.php

		-
			message: "#^Parameter \\#1 \\$body of static method Paste\\\\Entity\\\\Paste\\:\\:create\\(\\) expects string, bool\\|float\\|int\\|resource\\|string\\|null given\\.$#"
			count: 1
			path: src/Controller/CreateController.php

		-
			message: "#^Parameter \\#1 \\$pasteId of method Paste\\\\Security\\\\HashGenerator\\:\\:generateHash\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Controller/CreateController.php

		-
			message: "#^Parameter \\#1 \\$string of function md5 expects string, string\\|false given\\.$#"
			count: 1
			path: src/Controller/IndexController.php

		-
			message: "#^Parameter \\#1 \\$string of function md5 expects string, string\\|false given\\.$#"
			count: 1
			path: src/Controller/ReadController.php

		-
			message: "#^Parameter \\#1 \\$body of method Paste\\\\Entity\\\\Paste\\:\\:update\\(\\) expects string, resource\\|string given\\.$#"
			count: 1
			path: src/Controller/UpdateController.php

		-
			message: "#^Cannot use array destructuring on mixed\\.$#"
			count: 1
			path: src/Entity/Paste.php

		-
			message: "#^Property Paste\\\\Entity\\\\Paste\\:\\:\\$body \\(string\\) does not accept mixed\\.$#"
			count: 1
			path: src/Entity/Paste.php

		-
			message: "#^Property Paste\\\\Entity\\\\Paste\\:\\:\\$code \\(string\\|null\\) does not accept mixed\\.$#"
			count: 1
			path: src/Entity/Paste.php

		-
			message: """
				#^Call to deprecated method isMasterRequest\\(\\) of class Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\KernelEvent\\:
				since symfony/http\\-kernel 5\\.3, use isMainRequest\\(\\) instead$#
			"""
			count: 1
			path: src/Event/Subscriber/ExceptionSubscriber.php

		-
			message: "#^Method Paste\\\\Repository\\\\PasteRepository\\:\\:find\\(\\) should return Paste\\\\Entity\\\\Paste but returns mixed\\.$#"
			count: 1
			path: src/Repository/PasteRepository.php

		-
			message: "#^Parameter \\#1 \\$key of method Redis\\:\\:set\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Repository/PasteRepository.php

		-
			message: "#^Class Paste\\\\Security\\\\HashGenerator constructor invoked with 0 parameters, 1 required\\.$#"
			count: 1
			path: tests/unit/Security/HashGeneratorTest.php

		-
			message: "#^Parameter \\#1 \\$exception of method PHPUnit\\\\Framework\\\\TestCase\\:\\:expectException\\(\\) expects class\\-string\\<Throwable\\>, string given\\.$#"
			count: 1
			path: tests/unit/Security/HashGeneratorTest.php

		-
			message: "#^Parameter \\#1 \\$secret of class Paste\\\\Security\\\\HashGenerator constructor expects string, mixed given\\.$#"
			count: 1
			path: tests/unit/Security/HashGeneratorTest.php
