includes:
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
  level: 9
  tmpDir: .
  checkMissingIterableValueType: true
  inferPrivatePropertyTypeFromConstructor: true
  reportUnmatchedIgnoredErrors: true
  paths:
    - src
