<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.4/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    stderr="true"
>

    <php>
        <ini name="error_reporting" value="-1" />
        <env name="KERNEL_CLASS" value="Paste\Kernel" />
        <env name="APP_ENV" value="test" />
        <env name="APP_DEBUG" value="1" />
        <env name="APP_SECRET" value="s$cretf0rt3st" />
        <env name="SHELL_VERBOSITY" value="-1" />

        <!-- ###+ symfony/framework-bundle ### -->
        <!-- env name="TRUSTED_PROXIES" value="127.0.0.1,127.0.0.2" -->
        <!-- env name="TRUSTED_HOSTS" value="localhost,example.com" -->
        <!-- ###- symfony/framework-bundle ### -->
    </php>

    <testsuites>
        <testsuite name="Paste Test Suite">
            <directory>./tests/integration/</directory>
            <directory>./tests/unit/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory suffix=".php">./src/Console/</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
