<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.6/phpunit.xsd"
    bootstrap="source/bootstrap.php"
    colors="true"
    stderr="true"
>
    <testsuites>
        <testsuite name="Paste Test Suite">
            <directory>tests/Paste</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">source/Paste</directory>
            <exclude>
                <directory suffix=".php">source/Paste/Console/Command</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="var/build/clover.xml"/>
    </logging>

    <listeners>
        <listener class="\MyBuilder\PhpunitAccelerator\TestListener"/>
    </listeners>
</phpunit>
