{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid mb-4 px-0 text-monospace">
  <div class="topbar w-100 d-block clearfix">
    <p class="d-inline ms-3 hidden-md-down">
      <span class="fab fa-github" aria-hidden="true"></span>
      <a href="https://github.com/alcohol/pastebin-php/" aria-label="View source on github.com">github.com/alcohol/pastebin-php</a>
    </p>
  </div>
</div>

<div class="container text-monospace">
  <form action="{{ url('paste.create', {}, true) }}" method="POST" accept-charset="UTF-8">
    <div class="mb-3">
      <textarea class="form-control form-control-lg" name="paste" id="paste" rows="20"></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Paste</button>
  </form>
</div>

{% endblock %}
