{% extends 'template.html.twig' %}

{% block body %}

<div class="container-fluid m-b-2 p-x-0">
    <div class="topbar w-100 d-block clearfix">
        <p class="d-inline">
            <span class="fa fa-fw fa-file-text-o" aria-hidden="true"></span>
            <a href="{{ hrefNew }}">new</a>
        </p>
        <p class="d-inline m-l-1">
            <span class="fa fa-fw fa-code" aria-hidden="true"></span>
            <a href="{{ hrefRaw }}">raw</a>
        </p>
    </div>
</div>

<div class="container-fluid">

    <form class="form-inline pull-xs-right" id="hljs-form">
        <select class="form-control form-control-sm" id="hljs-selector">
            <option disabled selected>Syntax:</option>
        </select>
    </form>

    <pre><code id="code">{{ paste }}</code></pre>
</div>

<script src="/assets/js/highlight.pack.js"></script>
<script src="/assets/js/read.js"></script>

{% endblock %}
