{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid mb-4 px-0 text-monospace">
  <div class="topbar w-100 d-block clearfix">
    <p class="d-inline ms-3">
      <span class="far fa-file" aria-hidden="true"></span>
      <a href="{{ path('paste.create') }}">new</a>
    </p>
    <p class="d-inline ms-3">
      <span class="far fa-file-code" aria-hidden="true"></span>
      <a href="{{ path('paste.read.raw', {'id': paste.code}) }}">raw</a>
    </p>
  </div>
</div>

<div class="container-fluid text-monospace">
  <pre><code>{{ paste }}</code></pre>
</div>

{% endblock %}
